@model  List<HaberlerProject.Models.ViewModel.UserVM>
@{
    ViewBag.Title = "Kullanıcı Listesi";
    int i = 0;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>

    .changeIsActive:hover {
        cursor: pointer;
    }
</style>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__body">
        <!--begin: Search Form -->
        <div class="m-form m-form--label-align-right m--margin-bottom-10">
            <div class="row align-items-center">
                <div class="col-xl-8 order-2 order-xl-1">
                    <div class="form-group m-form__group row align-items-center">
                        <div class="col-md-4">
                            <div class="m-input-icon m-input-icon--left">
                                <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                    <span>
                                        <i class="la la-search"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                    <a href="@Url.Action("AddUser","Account")" class="btn btn-primary m-btn m-btn--custom">
                        Yeni Kullanıcı Ekle
                    </a>
                </div>
            </div>
        </div>
        <!--end: Search Form -->
        <!--begin: Datatable -->
        <table class="m-datatable" id="html_table">
            <thead>
                <tr>
                    <th>Sıra No</th>
                    <th>
                        Yetki
                    </th>
                    <th>
                        E-Posta
                    </th>
                    <th>
                        İşlemler
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>
                            @item.UserName
                        </td>
                        <td>
                            @(item.Role == "Admin»FullYonetim" ? "Admin" : item.Role)
                        </td>


                        <td>
                            <a href="@Url.Action("UpdateUser","Account",new {id=item.Id })" class="btn btn-accent m-btn m-btn--custom">
                                Düzenle
                            </a>
                            <a class="btn btn-danger m-btn m-btn--custom" data-toggle="modal" data-target="#m_modal_3" onclick="return modalSetData('@item.UserName','@item.Id');">
                                Sil
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!--end: Datatable -->
    </div>
</div>
<!--begin::Modal-->
<div class="m-portlet">
    <div class="modal fade" id="m_modal_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p id="exampleModalLabel">
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Vazgeç
                    </button>
                    @using (Html.BeginForm("DeleteUser", "Account", FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="deleteButton" name="userId" />
                        <button type="submit" class="btn btn-success m-btn m-btn--custom">
                            Sil
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->
@section scripts{
    <script src="~/content/assets/demo/default/custom/components/datatables/base/html-table.js" type="text/javascript"></script>
    <script>
        var _lockIsActive = null;
        var modalSetData = function (name, id) {
            $("#exampleModalLabel").html('"'+name + '" adlı kullanıcıyı silmek istiyor musunuz?.');
            $("#deleteButton").val(id);
        }




    </script>
}
